{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gaurd Phone Number</th>
                <th>Address</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Cost</th>
            </tr>
        </thead>
        {%for job in jobs%}
            <tr>
                <td>{{job["name"]}}</td>
                <td>{{job["phone"]}}</td>
                <td>{{job["address"]}}</td>
                <td>{{job["date"]}}</td>
                <td>{{job["time"]}}</td>
                <td>{{job["length"]}} hours</td>
                <td>{{job["payment"]}}</td>
            </tr>
        {%endfor%}
    </table>
{% endblock %}