{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1><span class="blue">Poolside</span><span class="red">Lifegaurding</span></h1>
    <h3>We are connecting private lifegaurds to clients all over northern bergen county.</h3>
    <p>If you are hosting a pool party, or just need someone to watch your pool, you can book a session, requesting <br>either a specific lifegaurd, or have the job availible to all of our red cross certified lifegaurds, charging 35 dollars an hour. Please press enter to register an account, or browse our availible gaurds in the gaurds section. If you have any questions, or would like to become a gaurd, please contact us at <a href='mailto:poolsidelifegaurding@gmail.com'>poolsidelifegaurding@gmail.com</a></p>
{% endblock %}